*
{
    /*font-family: Time New-Roman;*/
    font-size: 12px;
}
#main-layout,.widget-container
{
    /*background: white;*/
    overflow: hidden;
}

a
{
    text-decoration: none;
}
ul,h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0
}

#header
{
    padding-bottom: 10px;
    background: white
}
/*header*/
/*comon*/
.downlod,.register,.downlod *,.register *
{
    color: white !important;
    padding: 3px 6px;    
}
/*** TABLE STYLES ***/

.table .con0 {background: #fff;}
.table .con1 {background: #f7f7f7;}

/****** ASSESSMENT *******/
.result label {
    float: left;
    width: 100px;
}
.result div {
    clear: left;
    margin: 15px;
}
.ass-parent-status {
    margin: 0 5px 0 10px;
    float: left;
    background: #E5E5E5;
    display: block;
    width: 300px;
}
.ass-child-status {
    background: #B20000;
    padding: 8px 0;
    display: block;
}
.note {
    display: block;
    color: red;
}
/******** ADD ********/
.overdue {
    color: red;
}
.days-remain {
    font-weight: bold;
}
#overDiv table {
    background: white;
}
#overDiv table table:first-child {
    background: #FFB270;
}
#overDiv table table {
    background: #EFEFEF;
}
.during {
    color: blue;
}
.today {
    color: green;
}

/* info row*/
.required {
    color: Red;
}
.Row {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.Row .title-row {
    font-weight: bold;
}

.Row .left-Col {
    display: table;
    float: left;
    width: 15%;
    font-family: Arial;
    font-weight: bold;
}
.Row .left-Col label
{
    font-weight: bold;
}

.Row .right-Col {
    display: inline-table;
    float: left;
    font-family: Arial;
    width: 80%;
}

.Row .left-Col2 {
    display: table;
    font-family: Arial;
    float: left;
    width: 49%;
}

.Row .left-Col2 .left-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 30%;
    font-weight: bold;
}

.Row .left-Col2 .right-item-col {
    display: table;
    float: left;
    font-family: Arial;
    width: 68%;
    font-weight: bold;
}

.Row .right-Col2 {
    display: table;
    font-family: Arial;
    float: left;
    width: 49%;
    font-weight: bold;
}

.Row .right-Col2 .left-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 30%;
}

.Row .right-Col2 .right-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 68%;
}
#solid-button
{
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}
/*end*/

form{margin: 0}
.widget-head h3
{
    color: #FCFCFC;
    line-height: 31px;
    font-size: 15px;
    padding-top: 0;
    padding-left: 20px;
    margin: 0;

}
.box-message{
    width:100%;
    text-align: center;
    color: red;
    height: 50px;
    min-height: 50px;
    padding-top: 50px; 
}
/*End common*/
/*side-bar-right*/
#box-catgory-content
{
    padding: 0;
    margin: 0;
    background: white;
    border: solid 1px rgba(52, 152, 219, 0.36);
}
#box-catgory-content ul
{
    margin: 0;
    padding: 0;
    position: inherit;
}
#box-catgory-content ul ul
{
    display: none;
    position: absolute;
    right: 100%;
    border-right: solid 1px rgba(52, 152, 219, 0.36);
    margin-top: -30px
}

#box-catgory-content li:hover >ul
{
    display: block;
    z-index: 999;
    width: 300px;
}
#box-catgory-content li
{
    list-style-type: none;
    border-top:solid 1px #000000;
    
}
#box-catgory-content li a
{
    padding: 5px;
    display: block;
    background: #E9EFF8;
    padding-left: 5px;
    text-decoration: none;
    
}
#box-catgory-content li a:hover
{
    background: white;
    color: #111111;
}
#box-catgory-content li:first-child
{
    border-top: none;
}
#box-catgory-content ul ul li:first-child
{
    border-top:solid 1px #000000;
}
#box-catgory-content ul ul li:last-child
{
    border-top:solid 1px #000000;
}
#box-catgory-content li:last-child
{
    border-bottom: none;
}
#side-bar-right
{
    float: right;
    margin-right: 5px; 
}
#box-charts a
{
    text-decoration: none;
}
#box-charts .widget-head h3
{
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
}

/*End side-bar-right*/

/* Context menu */
/* Generic context menu styles */
.contextMenu {
    position: absolute;
    /*width: 120px;*/
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

.contextMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

.contextMenu LI.hover A {
    color: #FFF;
    background-color: #3399FF;
}

.contextMenu LI.disabled A {
    color: #AAA;
    cursor: default;
}

.contextMenu LI.hover.disabled A {
    background-color: transparent;
}

.contextMenu LI.separator {
    border-top: solid 1px #CCC;
}

.contextMenu LI.allot A {
    background-image: url(images/btn_allot.png);
}

.contextMenu LI.reject A {
    background-image: url(images/reject-16x16.png);
}

.contextMenu LI.statistics A {
    background-image: url(images/statistics-16x16.png);
}
.contextMenu LI.statistics_comment A {
    background-image: url(images/action/icon-16-comment-add.png);
}

.contextMenu LI.delete A {
    background-image: url(images/btn_delete.png);
}

.contextMenu LI.print A {
    background-image: url(images/print_16x16.png);
}

.contextMenu LI.approval A {
    background-image: url(images/approve-16x16.png);
}

.contextMenu LI.return A {
    background-image: url(images/btn_certificate_16x16.png);
}

.contextMenu LI.rollback A {
    background-image: url(images/btn_rollback.png);
}
/*End content text Menu*/

 /*----------------------------Home_page-------------------------------------*/
 #home
 {
     padding-left: 15px;
     padding-right: 15px;
 }
#box-search > div > div.widget-container
{
    padding-left: 5px;
}
#txt_code
{
    height: 34px;
}
#box-chart,#box-search-content,#box-sticky,#box-poll
{
    background: white;
    overflow: hidden;
    
    border-top:0;
}
#box-chart,#box-search-content,#box-sticky,#box-poll-content
{
    border:solid 1px rgba(52, 152, 219, 0.36);;
    border-top:0;
    padding-bottom: 10px;
    
}
#box-poll .widget-content-title
{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#box-search-content button[type="submit"]
{
    padding: 4px
}
.row-fluid .span3
{
    width: 27% !important;
    margin-left: 1%
}
.row-fluid .span4
{
    margin-left: 5px;;
    width: 30%;
}
.row-fluid .span5
{
    width: 41% !important;
}

#box-sticky
{
    padding: 0;
    min-height: 371px;
    max-height: 371px;
}
#box-sticky .gp-silde
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#box-sticky li.Row
{
    padding:5px;
    list-style-type: none;
    width: 100%;
    display: block;
    border-bottom: solid 1px #D8D2D2;
    border-top: solid 1px rgb(230, 230, 230);;
    margin-bottom: 0;
   
}
#box-sticky li.Row:last-child
{
    border-bottom: none;
}
#box-sticky li.Row:first-child
{
    border-top: none
}
#box-sticky li.Row.even
{
    background: rgb(245, 242, 242);
}
#box-sticky li.Row .item
{
    overflow: hidden;
}
#box-sticky li.Row .item img
{
    width: 100%;
    height: 100%;
}
#box-sticky li.Row a
{
    text-decoration: none
}
#box-sticky li.Row .item .title
{
    font-size: 1em;
    color: rgb(99, 97, 97);;
    font-weight: 600;
    font-weight: bold
}
#box-sticky li.Row .item a:hover
{
    text-decoration: underline ;
    color: #111111;
}
#box-sticky li.Row .item-left
{
    width: 24%;
    float: left;
    margin-right: 4%;
    border: solid 1px #AAAAAA;
    padding: 2px;
    height: 70px;
}
#box-sticky li.Row .item-right
{
    overflow: hidden;
    text-align: justify;
    margin-right: 15px;
}
#box-sticky li.Row .item-left +.item-right 
{
    width: 67%;
}
#box-poll
{
    margin-top: 10px;
}
/*poll-result*/
.poll-result
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    border: solid 1px #A5A5A7;
}
.vote-percent
{
    background-color: red;
}
.button-poll-area
{
    text-align: center;
}
.CloseButton
{
    background-image: url(images/DeleteButtonBrown.gif);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    line-height: 40px;
}
.Question
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid 1px #A5A5A7;
    border-bottom-width: 0px;
    background-color: #E4E4E4;
}
.PollResultTitle
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #005BA1;
    padding-left: 5px;
    height: 22px;
    border-bottom: 0px;
    line-height: 22px;
}
.a_poll_result {
background-image: url(images/bgResultBtn.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 20px;
}
.vote {
background-image: url(images/bgVoteBtn.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 20px;
margin-left: 5px;
}
/*end*/


/*----------------------------End fixed  page----------------------------*/


 /*----------------------------Srearch page-------------------------------------*/
 #page-search
 {
     padding-left: 10px;
     padding-right: 10px;
 }
#page-search .widget-container
 {
     background: white;
     margin: 0;
     padding-top: 0;
 }
#page-search .widget-container #filter
{
    border-top: 0;
}
#page-search
{
    overflow: hidden;
    margin: 0 auto;
    background: white;
    margin-bottom: 10px;
}
#page-search input,#page-search select
{
    /*height: 30px;*/
}
#myMenu
{
    display: none
}
#page-search .pager
{
    float: right;
    margin-top: 10px;
}
#box-bar-chart
{
    margin-top: -10px;
    margin-bottom: -10px;
}
#datetimepicker1
{
    overflow: hidden;
    width: 210px;
    float: left
}
#datetimepicker2
{
    width: 220px
}
#datetimepicker1 input,#datetimepicker2 input
{
    width: 180px
}
#datetimepicker2 .control-label
{
    width: 52px;
    margin-right: 5px;
}

/*----------------------------End fixed search page----------------------------*/

/*----------------------------Start page all statistic ------------------------*/

#page-all-statistics {
    margin-bottom: -10px;
    padding-left: 10px;
    padding-right: 10px;
}
 #page-all-statistics #myTab1 li.active a
 {
     background: rgb(124, 120, 112);
     color: white;
 }
 #page-all-statistics .tab-widget .tab-content
 {
     border: 0;
 }
/*----------------------------End page all statistic ------------------------*/


/*----------------------------Start page-statistics----------------------------*/
#page-statistics
{
    padding-right: 10px;
    padding-left: 10px;
}


/*------------------------------End page statistics----------------------------*/

/*------------------------------Start page guidance--------------------------*/
#flow
{
    padding-left: 5px;
    padding-right: 5px;
}
#page-guidance .down-regis
{
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
}
#page-guidance .down-regis button
{
    padding: 2px 10px;
}
#page-guidance #procedure
{
    padding-left: 10px;
    padding-right: 10px;
}
#page-guidance .acction
{
    text-align: center;
    padding-top: 5px;
    color: red;
}
#page-guidance input
{
    height: 30px;
}
#page-guidance td,#page-guidance tr, #page-guidance th
{
 border: 1px solid #CACACA;   
 font-weight: bold;
}
#sel_goto_page
{
    margin-right: 5px;
}
#page-guidance #filter
{
    padding-top: 10px;
    padding-left: 20px
}

#page-guidance #filter .control-group
{
    float: right
}
#page-guidance #procedure > table > thead >tr {
height: 40px;
color: black;
font-weight: bold;
}
#pager
{
    margin-bottom: 10px;
    margin-left: 5px;
}
/*------------------------------End page guidance--------------------------*/

/*-----------------------------Start page single guidace----------------------------*/

/*Strart page dsp_single_guidace*/
#page-single-guidance
{
    padding: 5px 30px;
    font-family: Time New Roman;
    background: white;
    margin-bottom: 10px;
    padding-bottom: 20xp
    
}
#page-single-guidance .record-type-name
{
    border-bottom: solid 2px #009600;
    color: red;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px
        
}
#page-single-guidance .list-type-name
{
    text-align: center;
    color: #2E72D7;
}
#page-single-guidance .thutuc-title
{
    font-size: 1.6em;color: #A52A2A;
    margin-top: 5px;
}
#page-single-guidance .thutuc-title span.stt
{
    font-size: 1em;
}
#page-single-guidance .single-item .content *,#page-single-guidance .single-item .content 
{
    margin-left: 20px;
    font-size: 17px;
}
#btn-register
{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

/*-----------------------------End page single guidace----------------------------*/

@media (max-width: 480px) 
{
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 20px;
  }
  input[type="checkbox"],
  input[type="radio"] 
  {
    border: 1px solid #ccc;
  }
}

@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color:  #777777;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #f2f2f2;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: white;
  } 
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
}


/*-----------------------End page single guidance-------------------------------*/


/*-------------------------- page registration-list -----------------------------*/
#page-list-registration {
    overflow: hidden;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    margin-bottom: -10px;
}
/*fix accordion ui*/
#page-list-registration .ui-icon-triangle-1-e, #page-list-registration .ui-state-active .ui-icon
{
    float: left
}
#page-list-registration table
{
    width: 100%;
}
#page-list-registration table td
{
    border: solid 1px #CACACA;
}
#page-list-registration table *
{
    color: #56B0E2;
}
#page-list-registration table img,#page-guidance  #procedure img
{
    width: 15px;
}

.ui-accordion .ui-accordion-header.ui-state-active
{
    background: white;
}
.ui-accordion .ui-accordion-header 
{
    background: rgba(175, 175, 175, 0.47);;
    border: solid 1px rgba(0, 85, 128, 0.47);
}
#accordion > div.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active
{
    height: auto !important;
}
#page-list-registration .acction 
{
    font-weight: bold;
    padding-top: 5px;
    color: red;
}
#page-list-registration .regis
{
    font-weight: bold;
    color: #0088cc;
}
/*----------------------End page registration-list----------------------------*/

/*----------------------------Start page staitisc-----------------------------*/

#chart-type button
{
    width: 125px;
}


/*----------------------------End  page staitisc------------------------------*/


#iframe-search-results
{
    width: 100%;
    height: 1000px;
    border: none;
}


/*active menu top*/
.navbar-inverse .nav .active > a
{
    color: #000;
    background-color: #ffffff;
}
/*end*/


/*-----------------------------page single acticle--------------------------*/
#box-detail-arcticle
{
    overflow: hidden;
    border: solid 1px #CCC;
    margin-left: 10px;
    padding: 10px;
    text-align: justify;
    margin-bottom: 20px;
}
#single-article .title >h3
{
    margin-bottom: 10px;
    font-size: 1.6em;
}
#box-detail-arcticle .div-buton-single-article
{
    float: right;
}
#single-article .span8 {
width: 67.7%;
}
#single-article .begin-date
{
    display: block;
    float: right;
    width: 100%;
    margin-bottom: 5px;
    font-style: italic;
}
#connection .title
{
    width: 100%;
    border-bottom: solid 2px #AAA;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#connection li
{
    background: transparent url(images/article-row.png) no-repeat left center;
    padding-left: 10px;
    list-style-type: none;
}

/*admin content default*/
.Header_default {
    background-image: url(images/LoginInfoTitle.gif);
    background-repeat: no-repeat;
    background-position: left top;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding-left: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.LeftContent {
    background-color: #EBEBEB;
    width: 184px;
    border: 0px;
    padding-top: 5px;
    vertical-align: top;
}

.TableLoginInfo {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    width: 184px;
    background-color: #ebebeb;
    border: 0px;
}

.LoginInfoLeftContent {
    background-color: #CCCACB;
    width: 20px;
}

.LoginInfoRightContent {
    background-color: #E4E0E1;
    padding-bottom: 15px;
    width: 100px;
}

.LoginInfo {
    padding-top: 10px;
    padding-left: 2px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: black;
    width: 184px;
    border: 0px;
}

.RightContent {
    padding-top: 10px;
    width: 97%;
    height: 100%;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 10px;
}

.TableLeftMenuOverview {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
}

TableLeftMenuOverview {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.LeftMenuOverview {
    color: #005BA1;
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.Content {
    position: relative;
    padding-bottom: 10px;
    color: #005BA1;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
    background-image: url(images/BgItemIcon.gif);
    background-repeat: no-repeat;
    background-position: left top;
    width: 119px;
    height: 121px;
    padding-top: 5px;
}

.LeftMenuOverview a {
    color: #005BA1;
    text-decoration: none;
}

.Content a:hover {
    color: red;
}

.TableContent tr td{
    border: 0px;
}
/*end*/

.blue {
background: #33AF95;
}