*
{
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial;
    color:black;
}
input:focus{
    outline: 0;
}
body
{
    border: none;
    font-size: 1em;
    line-height: 1.8em;
    width: 100%;
    margin: 0;
}
h1
{
    font-size: 1.8em;
}
h2{font-size: 1.5em;}
/*commont*/
#header,  #banner, .curr_time,#main,.box-item,.item
{
    overflow: hidden;
}
#main.all-list
{
    background: white;
}
.curr_time label
{
    color: white;
}
a
{
    text-decoration: none;
    border: none;
}
li
{
    list-style-type: none;
}
ul,h1,h2,h3,h4,h5,h6,form
{
    margin: 0;padding: 0;
    font-family: Arial, Time-New-Roman
}
/*Emd commont*/
/*header*/

#headerWrapper
{

    overflow: hidden;
    padding-bottom: 15px;
    text-align: center;

}
#headerWrapper
{
    padding-top: 20px;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
}

#headerWrapper .title
{
    font-weight: bold;
    color: white;
}

/*end header*/

/*###############################################*/
/*footer*/

#footer
{
    width: 100%;   
}

/*end footer*/
#home
{
    padding-top:25px;
}

/*Chon mau cho item*/
/**
* gan thep gia tri cua item i 
*/
#home .item-1
{
    /*background: red !important;*/       
}
/*End chon mau item*/

.metro .tile.squarepeek
{
    width: 160px;
}
tile-column-span-2 a
{
    height: 320px;
}
.metro .tile .text 
{
    font-size: 1.5em;
    line-height: 1.5em;
    height: auto;
    padding: 10px;
    text-align: justify;
    color: white;
}




/*###########################################################################################*/

.tile.align-center .container
{
    background: none !important;
    
}
.tile.align-center .container h3
{
    color: white !important;
    padding: 0 2px;
}
/*footer #list-detail-footer*/
#list-detail-footer
{
    position:relative;
    margin: 0 2px;
    height: 100px;
    margin-right: -4px;
margin-left: 0px;

}

#headerWrapper > img 
{
    margin-left: 0px;
    height: 100px;
}
#list-detail-footer >img{
    margin-left: -2px;
    height: 100px;
}
#wrp-all {
overflow: hidden;
width: 94%;
padding: 0 3%;
}

.list-detail-list header
{
    padding-bottom:  0;
}
.list-detail-list #headerWrapper > h2
{
   color: red;
   line-height: 65px;
   text-align: center;
   position: absolute;
   top: 40px;
   width: 100%;
}
.list-detail-list
{
    background: #043B95 url(images/bg_metro.jpg);
    /*background: #043B95;*/
    position: relative;
}
.list-detail-list *
{
    color: #56B0E2;
}
.all-list
{
    border: 3px solid rgba(29, 67, 131, 0.89);
    background-color: #FCFAFA;;
    border-top: 0;
    border-bottom: none !important;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -25px;
    padding-top: 10px;
    padding: 20px 20px;
}

td,tr,th
{
 border: 1px solid #CACACA;   
 font-weight: bold;
}
table
{
    border-top: solid 10px #CACACA;
    border-bottom: solid 10px #CACACA;
    border-radius: 10px;
    border-left: solid 5px #CACACA;
    border-right: solid 5px #CACACA;
    
}
/*Page all_list*/
.all-list .panorama
{
    margin: 0;
}
.all-list .list-head
{
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    background: #CACACA;
    border-radius: 10px;
}
#main > div > div.record-type-title > h3
{
    line-height: 50px;
    margin-left: 10px;
    color: rgb(207, 34, 34);;
}
#main > div > div.record-type-title > h3 span
{
    color: #CE4B27;
}
.all-list .title
{
    background: #ce4b27;
    color: white;
    line-height: 50px;
    font-size: 1.1em;
    float: left;
    width: 53%;
    padding-left: 20px;
}
.all-list .box-search
{
    float: right;
    overflow: hidden;
    height: 40px;
    width:340px;
    margin: 5px 15px 0 5px;
}
.all-list .box-search #search 
{
    border: none;
    height: 38px;
    width: 260px;
    float: left;
    padding-left: 5px;
    font-family: Time-new-roman;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    color: black;
}
.all-list .box-search #search:focus,.all-list .box-search #search:focus + #submit
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    background-color: #fff;

}
.all-list .box-search #submit,.all-list .box-search #search:focus + #submit
{
    width: 55px;
    background: #444447 url(images/icon_search.png) no-repeat 15px center;
    height: 40px;
    border: solid 2px transparent;
    border-left: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.all-list table
{
    border-collapse: separate;
    width: 100%;
    margin: 10px 0;
}
.all-list th
{
    height: 30px;
}
.all-list td
{
    padding: 0px 15px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    /*border-top: 1px solid #dddddd;*/
}
.all-list .even td a,.all-list .odd td a
{
    width: 100%;
    line-height: 50px;
    font-size: 1.1em;
    display: block;
  
}

.all-list .all-list-content 
{
    font-weight: bold;
    line-height: 1.8em;
    display: block;
    padding: 10px 0;
}
.all-list tr.odd
{
    background: rgba(211, 213, 213, 0.99);;
}
.all-list tr.even
{
    background: white;
}
.all-list td a
{
    text-decoration: none;
}
.all-list td.stt
{
    line-height: 50px;
}

/*---------------------paging ------------------------------*/

#list-detail-footer .last
{
    position:absolute;
    margin: 0 auto;
    /*bottom: 25px;*/
    top:0;
    text-align: center;
    width: 100%;
}
#list-detail-footer .last td:hover
{
    outline: 0px solid #ce4b27;;
    -moz-box-shadow: 0 0 0px #CCC;
    -webkit-box-shadow: 0 0 0px #CCC;
    box-shadow: 0 0 0px #CCC;
    ext-decoration: none;
    cursor: auto;
}
#list-detail-footer .last .prev-next
{
    display: block;
    position: relative;
    height:60px;
}
#list-detail-footer .last td
{
    padding: 0;
}
#list-detail-footer .last .prev-next a
{
    color: white;
    font-size: 1.2em;
}
#list-detail-footer .last .prev,#list-detail-footer .last .next
{
    /*padding: 8px 5px 24px 50px;*/
    padding: 17px 5px 19px 50px;
    overflow: hidden;
    border: none;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    margin-left: -7px;
    margin-right: -7px;
}
#list-detail-footer .last .prev:hover,#list-detail-footer .last .next:hover,#list-detail-footer .last .back-home:hover
{
    background-color:  #009600;
}
#list-detail-footer .last .prev
{
    left: 0;
    background: #0CA6BB url(images/prev.png)  no-repeat center center;
    border-radius: 25px 0px 0px 25px;
    height: 59px;
}

#list-detail-footer .last .next
{
    background: #0CA6BB url(images/next.png)  no-repeat center center;
    border-radius: 0 25px 25px 0;
    height: 59px;
}
#list-detail-footer .last .prev-next
{
    text-align: center
}
#frmPaging
{
    overflow: hidden;
    height: 59px;
}
#list-detail-footer .last .back-home
{
    padding: 20px 10px 19px 64px;
    background: url('images/home.png') no-repeat scroll center center #0CA6BB;
    border: none;
    height: 59px;
    /*padding: 17px 10px 20px 64px;*/
/*    padding:32px 10px 14px 64px;
    background: #0CA6BB url(images/home.png)  no-repeat center center;
    margin-bottom: -5px;*/
}

/*end page all_list_guidance*/

/*###############################################*/

/*Strart page dsp_single_guidace*/
#main.single
{
    padding: 5px 20px;
}
#main.single table
{
    width: 100%;
}

.single .last
{
    background: #0CA6BB;;
}
.single .last td:hover
{
    outline: 0px solid #ce4b27;;
    -moz-box-shadow: 0 0 0px #CCC;
    -webkit-box-shadow: 0 0 0px #CCC;
    box-shadow: 0 0 0px #CCC;
    ext-decoration: none;
    cursor: auto;
}
.single .last .prev-top
{
    display: block;
    position: relative;
    height:60px;
}
.single .last td
{
    padding: 0;
}
.single .last .prev-top a
{
    color: white;
    font-size: 1.2em;
}
.single .last .prev,.single .last .top
{
    padding: 16px 50px;
    position: absolute;
    background: transparent url(images/qqq.png)  no-repeat left center  ;
    overflow: hidden;
}

.single .last .prev:hover,.single .last .top:hover,.single .last .back-home:hover
{
    background-color:  #009600;
}
.single .last .prev
{
    left: 0;
    background: transparent url(images/prev.png)  no-repeat 10px center  ;
}

.single .last .top
{
    right: 0;
    background: transparent url(images/icon_top.png)  no-repeat 125px center  ;
}
.single .last .prev-top
{
    text-align: center
}
.single .last .back-home
{
    position: absolute;
    padding: 16px 10px 16px 80px;
    background: transparent url(images/home.png)  no-repeat 10px center  ;
    overflow: hidden;
    left: 44%;
}
.single .box-item
{
    overflow: hidden;
    width: 100%;
}
.single .single-item
{
    background: white;
    padding: 20px 70px;
    text-align: justify;
}
.single .single-item .title
{
    margin-bottom: 20px;
    border-bottom: solid 2px #009600;
    padding-bottom: 10px;
}
.single .single-item .linhvuc
{
    margin-right: 10px;
    color:#3879D9;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.single .single-item .thutuc
{
    color: red
}
.single-item .thutuc-title
{
    color:rgb(173, 10, 10);
    margin: 0;
}
.single-item .thutuc-title span
{
    color:red;
}
.single-item .content
{
    margin:0 0 20px 20px;
    font-family: 'Times New Roman';
    font-size: 18px;
    line-height: 22px; 
    text-align: justify; 
    background-color: rgb(255, 255, 255);
}
#panorama-scroll-prev, #panorama-scroll-next
{
    top: 220px;
}
.tile-column-span-2{
    width: 645px;
}
.title-type
{
    margin: 0 5px;
   color: #b06700;;
}
.title-type span
{
    color: #CE4B27;
}
/*#########################        995     ###############*/

@media all and (min-width: 790px) 
{
        .record-type-title h3 
    {
        line-height: 45px !important;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
     .all-list .box-search #search 
    {
        width: 245px;
        font-size: 1.1em;
    }
    .all-list .box-search
    {
        margin-top: 10px;
    
        width: 310px;
        margin-bottom: 6px;
        margin-right: 5px;
    }   
        .all-list {
            margin-left:-1px;
            margin-right: -1px;
            border: 2px solid rgba(29, 67, 131, 0.89);
            border-top: 0;
        }
    
}
/*#########################        790     ###############*/
@media all and (min-width: 645px) and (max-width: 790px)
{
    .all-list {
margin-left: -3px;
margin-right: -3px;
border: 2px solid rgba(29, 67, 131, 0.89);
border-top: 0;
}
    .record-type-title h3 
    {
        line-height: 45px !important;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .all-list .box-search #search 
    {
        width: 245px;
        font-size: 1.1em;
    }
    .all-list .box-search
    {
        margin-top: 10px;
    
        width: 310px;
        margin-bottom: 6px;
        margin-right: 5px;
    }   
    
    h1,h2,h3,h4,h5,h6
    {
        font-size: 1.6em;
        margin: 0;padding: 0;
        font-family: Arial, Time-New-Roman
    }
    .all-list .title
    {
        width: 100%;
    }

}
/*#########################        645     ###############*/
@media all and (min-width: 480px) and (max-width: 645px)
{
    .record-type-title h3
     {
        line-height: 20px !important;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
     }
     .all-list {
        margin-left: -4px;
        margin-right: -4px;
        border: 2px solid rgba(29, 67, 131, 0.89);
        border-top: 0;
    }
    .all-list .box-search #search 
    {
        width: 245px;
        font-size: 1.1em;
    }
    .all-list .box-search
    {
        margin-top: 10px;
    
        width: 310px;
        margin-bottom: 6px;
        margin-right: 5px;
    }   
    
    h1,h2,h3,h4,h5,h6
    {
        font-size: 1.5em;
        margin: 0;padding: 0;
        font-family: Arial, Time-New-Roman
    }
    .metro .tile.wide.imagetext.wideimage
    {
        width: 220px;
    }
        .all-list .title
    {
        width: 100%;
        padding: 0;
    }
    th
    {
        font-weight: bold;
    }
    
}

/*#########################        480     ###############*/
@media all and (min-width: 0px) and (max-width: 480px) 
{
     .record-type-title h3
     {
        line-height: 18px !important;
         font-size: 16px;
     }
     .all-list{
        margin-left: -4px;
        margin-right: -4px;
    
        border: 2px solid rgba(29, 67, 131, 0.89);
        border-top: 0;
    }
    h1,h2,h3,h4,h5,h6
    {
        font-size: 1.3em;
        margin: 0;padding: 0;
        font-family: Arial, Time-New-Roman
    }
    .all-list .box-search #search 
    {
        width: 180px;
        font-size: 0.9em;
    }
    .all-list .box-search
    {
        margin-top: 10px;
    
        width: 245px;
        margin-bottom: 6px;
        margin-right: 5px;
    }
    .single .last .top {
        background: transparent url(images/prev.png) no-repeat 10px center;
    }
    
     .metro .tile.wide.imagetext.wideimage
     {
         width: 250PX;
        float: none;
        margin: 5px auto;
     }
    .tile-column-span-2 
    {
        clear: both;
        height: auto;
        width: auto !important;
        overflow: hidden;
    }
    panorama-sections
    {
        height: auto;
    }
    .panorama .panorama-sections .panorama-section
    {
        float: none;
        margin: 0;
    }

    #panorama-scroll-prev-bkg, #panorama-scroll-next-bkg,#panorama-scroll-prev, #panorama-scroll-next 
    {
        display: none !important;
    }

    /*button next-prev*/
    th
    {
        font-weight: bold;
    }
    .all-list .last .back-home
    {
        position: inherit;
        display: block;
    }
    .all-list .title
    {
        width: 100%;
        padding: 0;
    }
    
    /*foot*/
    .all-list .last .prev, .all-list .last .next
    {
        position: inherit;
        display: block;
        width: 100%;
        padding: 16px 0px 20px 50px;
        text-align: left;
    }
    .all-list .last .prev-next,.single .last .prev-top
    {
        height: auto;
        overflow: hidden;
    }
    .single .last .prev, .single .last .top,.single .last .back-home
    {
       position: inherit;
        display: inline-block;
        width: 100%;
        left: 0;
        padding: 16px 50px;
        float: left;
        text-align: left;
    }
    .single .last .back-home
    {
        padding-left: 16px;
    }
    .all-list .last .back-home
    {
        padding-left: 0px;
    }
    .panorama .panorama-sections
    {
        width: auto !important;
        height: auto !important;
    }
}

