body{
    background-color: #dfefef;
    line-height: 21px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px ;
}
select {
    font-size: 12px;
}
fieldset{
    background-color: #D4D0C8;
    border: 1px solid #807D79;
    padding: 3px;
}


/** List record in table **/
table * th {
    background: buttonface none repeat scroll 0 0;
    border-color: #F2F0EE #75736E #75736E #F2F0EE;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    text-align: center;
}
table * tr.row0 {
	background-color: #F4F4F4;
}
table * tr.row1 {
	background-color: #E2E5EE;
}
table * td {
	border: #808080 1px solid;
}
table.adminlist TR:hover
{
    background-color: #FFFFCC;
}

/** Button **/
input[type="button"]
{
    border-top : solid 1px #FFF;
	border-right : solid 1px #404040;
	border-bottom : solid 1px #404040;
	border-left : solid 1px #FFF;
    background-color: #D4D0C8;
}
.edit-box {
    border-top: #404040 1px solid;
    background-color: #FFF;
}

/**text align */
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.clear
{
    clear: both;
}

#tabs_allot,
#by_ou,
#by_user
{
    background-color: #D4D0C8;
}
#tabs_allot ul
{
    background-color: #D4D0C8;
}
#div_co_ou
{
    border-top: #404040 1px solid;
	border-right: #D4D0C8 1px solid;
	border-bottom: #D4D0C8 1px solid;
    border-left: #404040 1px solid;
    background-color: #FFF;
}
.tooltip {
    display:none;
    background:transparent url(..images/tooltip.black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
 }
 #quick_action img {
    border:0;
    cursor:pointer;
    margin:0 1px;
 }

.top-nav-box
{
    background-image: url(images/top_menu_bg.jpg);
    background-repeat: no-repeat;
    padding: 9px;
    min-height: 38px;
}
#wrapper
{
    background: url(images/wrapper_bg.jpg) repeat-y;
    overflow: hidden;
}
div.container_24{
    background-color: #D4D0C8;
}
h2.module_title
{
    font-size: 14px;
    font-weight: bold;
    color: #344545;
}
#header
{
    /*background-color: #C1CAAD;*/
}
#header #user_info
{
    float: left;

}
#header #date
{
    float: right;
    padding-right: 20px;
}
#footer
{
    font-size: 11px;
    text-align: center;
    background-color: #D4D0C8;
    padding-bottom: 20px;
    margin-right: -1px;
    margin-left: -1px;
}
#doc_direction_menu
{
  text-align: right;
  font-size:14px;
  text-transform: uppercase;
  font-family: Arial;
}

#doc_direction_menu ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

#doc_direction_menu ul li
{
    display:inline;
     margin:0;
    padding:5px;
}
#doc_direction_menu ul li a
{
    text-decoration: none;
}
#doc_direction_menu ul li a.active
{
    text-decoration: underline;
    font-weight: bold;
    color: #F00;
}


#banner{
    background-image: url(images/banner3.jpg);
    background-repeat: no-repeat;
    height: 80px;
    width:1006px;
    padding-left: 150px;
    padding-top: 15px;
}
#unit_full_name
{
	font-family: Times;
	font-size: 20px;
	font-weight: 600;
	color: #880015;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #F8F8F8;
}

/** table adminlist **/
table.adminlist a,
table.adminlist a:visited {
    text-decoration: none;
}
table.adminlist a:hover {
    text-decoration: underline;
}
table.adminlist TH{
    text-align: center;
    vertical-align: middle;
	height: 25px;
}
table.adminlist TD {
    margin-left:2px;
	padding: 4px;
	font-weight: normal;
    vertical-align: top;
}
table.adminlist TD.checkbox
{
    margin: 2px;
	padding: 0px;
}
tr.module_name {
	background-color: #F5F5F5;
	height: 25px;
}
tr.module_name TD{
	font-weight:bold;
}


/** Pager **/
#pager{
    text-align: right;
}

/** Button **/
.button-area{
	text-align:center;
	padding-top:15px;
    padding-bottom: 15px;
}
.button {
    font-size: 11px;
	height:30px;
	vertical-align:middle;
	text-align:center;
	width:110px;
}
.filter_button
{
    font-size: 12px;
	height:22px;
	vertical-align:middle;
	text-align:center;
	width:70px;

}
input.add
{
    background-image: url(images/btn_add.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.delete
{
    background-image: url(images/btn_delete.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.close
{
    background-image: url(images/btn_back.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.save
{
    background-image: url(images/btn_save.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.allot
{
    background-image: url(images/btn_allot.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.cancel
{
    background-image: url(images/btn_cancel.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.add_user
{
    background-image: url(images/add_user.png);
    background-position: left;
    background-repeat: no-repeat;
}
input.remove_user
{
    background-image: url(images/remove-user.png);
    background-position: left;
    background-repeat: no-repeat;
}


#div_filter{
    text-align:right;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:bold;
    width:100%;
}


/* info row*/
.required
{
	color: Red;
}
.Row
{
	display: table;
	width: 100%;
	margin-bottom: 5px;
}
.Row .title-row
{
	font-weight: bold;
}
.Row .left-Col
{
	display: table;
	float: left;
	width: 15%;
	font-weight: bold;
}
.Row .right-Col
{
	display: inline-table;
	float: left;
	width: 84%;
}
.Row .left-Col2
{
	display: table;
	float: left;
	width: 49%;
}
.Row .left-Col2 .left-item-col
{
	display: table;
	float: left;
	width: 30%;
	font-weight: bold;
}
.Row .left-Col2 .right-item-col
{
	display: table;
	float: left;
	width: 68%;
	font-weight: bold;
}
.Row .right-Col2
{
	display: table;
	float: left;
	width: 49%;
	font-weight: bold;
}
.Row .right-Col2 .left-item-col
{
	display: table;
	float: left;
	width: 30%;
}
.Row .right-Col2 .right-item-col
{
	display: table;
	float: left;
	width: 68%;
}

/** XML from */
table.main_table
{
	margin-bottom: 0px;
    border: 0px;
}
table.main_table tr td
{
	padding: 0px;
    border: 0px;
}
table.main_table tr td table
{
	margin-bottom: 3px;
}
table.panel_table
{
	margin-bottom: 1px;
	background-color: #cccccc;
}
table tr.panel_color td
{
	font-weight: bold;
}
.text_color_red
{
	color: Red;
}
table tr.xslgridrow
{
	/*background-color: #F8F8F8;*/
}
#left_side_bar{
    min-height: 500px;
    overflow: auto;
/*
    background-image: url(images/vertical-seperator.png);
    background-repeat: repeat-y;
    background-position: right;
*/

}
.edit-box{
    /*
    background-image: url(images/horizon-seperator.png);
    background-repeat: repeat-x;
    background-position: bottom;
    */
}
ul.doc-type-tree{
    list-style-image: url(images/icon_folder.gif);
}
ul.doc-type-tree li a,
ul.doc-type-tree li a:visited
{
    text-decoration: none;
}
ul.doc-type-tree li a:visited
{
    text-decoration: underline;
}
ul.doc-type-tree li a.active
{
    font-weight: bold;
}

ul.doc-step
{
    list-style-image: url(images/bullet-sm-arrow-right.png);
}
ul.doc-step li
{
    margin-left: 12px;
    padding-left: 0px;
    margin-bottom: 4px;
}

ul.doc-step li span.doc-step-date
{
    padding-right: 4px;
    text-decoration: underline;
}
#container
{
    padding-left: 7px;
    padding-right: 7px;
}
#quick_action
{
    margin-right: 2px;
}
#quick_action a img
{
    width:20px;
    height: 20px;
}
#quick_action a{
	text-decoration : none;
	display: block;
	border: 1px solid #DDD;
	width: 20px;
    height:20px;
	padding: 2px 1px 2px 1px;
}
#quick_action a:hover {
	color : #C64934;
	border: 1px solid #c24733;
	background-color: #f1e8e6;
	padding: 3px 0px 1px 2px;
}

#quick_action a:active {
	color : #FF9900;
}
.calendar
{
    float: left;
    padding: 3px;
}
.switch_date
{
    position: relative;top: 35px;
}
#frmMain
{
    padding: 5px;
}
#doc_of_folder
{
    float: left;
    width: 850px;
    height: 400px;
    background: #FFF;
    overflow: scroll;
}
#doc_of_folder_action
{
    float: left;
    width: 60px;
    vertical-align: top;
    padding-left: 855px;
    position: absolute;
}
#user_of_folder
{
    float: left;
    width: 850px;
    height: 200px;
    background: #FFF;
    overflow: scroll;
}
#user_of_folder_action
{
    float: left;
    width: 60px;
    vertical-align: top;
    padding-left: 855px;
    position: absolute;
}
label.strong{
    font-weight: bold;
}

#article_detail
{
    background: #efffff;
    padding: 10px;
}
#artile_list
{
    background: #efffff;
    overflow: scroll;
    height: 400px;
}
#artile_list ul li
{
    list-style-image: url(images/icon_channel.gif);
}
#artile_list ul li a
{
    text-decoration: none;
}
#artile_list ul li a:hover
{
    text-decoration: underline;
}

#group_of_user
{
    float: left;
    width: 550px;
    height: 200px;
    background: #FFF;
    overflow: scroll;
}
#group_of_users_action
{
    float: left;
    width: 60px;
    vertical-align: top;
}
#users_in_ou_action
{
    float: left;
    width: 70px;
    vertical-align: top;
}
#users_in_group
{
    float: left;
    width: 600px;
    height: 200px;
    background: #FFF;
    overflow: scroll;
}
#application_permit
{
    height: 350px;
    overflow: scroll;
}
.ButtonAddOu {
    margin: 4px;
    background-image: url(images/add_folder.png);
    background-repeat: no-repeat;
    background-position: 2px 0px;
    background-color: transparent;
    border: 0px;
    padding-left: 21px;
    height: 21px;
}