#banner
{
    background-image: url(images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    text-align: center;
    
}
#banner #unit_full_name
{
	font-family: Times;
	font-size: 20px;
	font-weight: 600;
	color: #880015;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #F8F8F8;
	padding-top: 8px;
	margin-left: -300px;
}
.center
{
	text-align: center !important;
}
.left
{
	text-align: left !important;
}
.right
{
	text-align: right !important;
}
.required
{
	color: #F00;
}
#div_filter
{
	text-align: right;
	padding: 6px 0px 6px 0px;
}
#pager
{
	text-align: right;
    padding: 6px 0px 6px 0px;
}
#sel_goto_page
{
    width:100px !important;
}
.form-actions
{
	margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px !important;
    text-align: left;
}
.ds_arrow {
	width:100% !important;
	display: inline-block;
	padding-top: 60px;
	text-align: center;
}
.cchc 
{
    background-color: #005393;
    color: #FFF;
}

/** XML from */
table.main_table {
    margin-bottom: 0px;
    border: 0px;
}

table.main_table tr td {
    padding: 3px 0px 3px 0px;
    border: 0px;
    vertical-align: middle;
}
table.main_table tr td.text_color{
    padding-left: 3px;
}

table.panel_table {
    margin-bottom: 1px;
    background-color: #cccccc;
}

table tr.panel_color td {
    font-weight: bold;
}

.text_color_red {
    color: Red;
}

table tr.xslgridrow {
    background-color: #F8F8F8;
}
/*********************** Hx fomat css menu top************************/

.clear
{
    clear: both;
}
#banner
{
    background-image: url(images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    text-align: center;
    
}
#banner #unit_full_name
{
	font-family: Times;
	font-size: 20px;
	font-weight: 600;
	color: #880015;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #F8F8F8;
	padding-top: 8px;
	margin-left: -300px;
}
.center
{
	text-align: center !important;
}
.left
{
	text-align: left !important;
}
.right
{
	text-align: right !important;
}
.required
{
	color: #F00;
}
#div_filter
{
	text-align: left;
	padding: 6px 0px 0px 0px;
}
#pager
{
	text-align: right;
    padding: 6px 0px 6px 0px;
}
#sel_goto_page
{
    width:100px !important;
}
.form-actions
{
	margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px !important;
    text-align: left;
}
.ds_arrow {
	width:100% !important;
	display: inline-block;
	padding-top: 60px;
	text-align: center;
}
#attach_file_list .file
{
    background: #FDFDFD;
    border: 1px solid rgba(223,223,223,0.8);
    border-radius: 2px;
    padding: 5px;
}
.attachment-file-name
{
    background: #EEE;
    border: 1px solid rgba(223,223,223,0.8);
    border-radius: 2px;
    padding: 5px;
}
.attachment-file-name .attachment-thumbnail
{
    width: 80px;
    float: left;
}
.attachment-file-name .attachment-action
{
    width: 260px;
    float: right;
    position: relative;
}
.attachment-file-name .attachment-action .filename
{
    font-weight: 700;
    color: #464646;
    word-wrap: break-word;
}

.attachment-file-name .attachment-action .attachment-asset 
{
    float: left;
}

.attachment-file-name .attachment-action .delete-attachment 
{
    float: right;
}

.attachments-invoke-wrapper
{
    padding-top: 8px;
}
.upper_text
{
    text-transform: uppercase;
}

.workflow-user-list {
    width: 77%;
    float: left;
    text-align: center;
}

.workflow-user-list label {
    font-weight: bold;
}

.workflow-user-list table tr td {
    text-align: left;
}

.workflow-user-action {
    width: 23%;
    float: right;
    vertical-align: middle;
}

/* blacklist */
.Request_Body_Widget_payloadFormPanel {
    padding-left:7px;
    padding-bottom:7px;
    padding-right:7px;
}
.Request_Body_Widget_flex {
    display:-webkit-flex;
    display:-mox-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    -webkit-align-items:center;
}
.Request_Body_Widget_valueBlock {
    -webkit-flex:1 0 0;
    -moz-flex:1 0 0;
    -ms-flex:1 0 0;
    -o-flex:1 0 0;
    flex:1 0 0;
}
.Request_Body_Widget_flex input {
    width:-webkit-calc(100% - 12px);
    width:calc(100% - 12px);
}


/* Context menu */
/* Generic context menu styles */
.contextMenu {
    position: absolute;
    /*width: 120px;*/
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

.contextMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

.contextMenu LI.hover A {
    color: #FFF;
    background-color: #3399FF;
}

.contextMenu LI.disabled A {
    color: #AAA;
    cursor: default;
}

.contextMenu LI.hover.disabled A {
    background-color: transparent;
}

.contextMenu LI.separator {
    border-top: solid 1px #CCC;
}

.contextMenu LI.allot A {
    background-image: url(images/btn_allot.png);
}

.contextMenu LI.reject A {
    background-image: url(images/reject-16x16.png);
}

.contextMenu LI.statistics A {
    background-image: url(images/statistics-16x16.png);
}
.contextMenu LI.statistics_comment A {
    background-image: url(images/action/icon-16-comment-add.png);
}

.contextMenu LI.delete A {
    background-image: url(images/btn_delete.png);
}

.contextMenu LI.print A {
    background-image: url(images/print_16x16.png);
}

.contextMenu LI.approval A {
    background-image: url(images/approve-16x16.png);
}

.contextMenu LI.return A {
    background-image: url(images/btn_certificate_16x16.png);
}

.contextMenu LI.rollback A {
    background-image: url(images/btn_rollback.png);
}

/** XML from */
table.main_table {
    margin-bottom: 0px;
    border: 0px;
}

table.main_table tr td {
    padding: 3px 0px 3px 0px;
    border: 0px;
    vertical-align: middle;
}
table.main_table tr td.text_color{
    padding-left: 3px;
}

table.panel_table {
    margin-bottom: 1px;
    background-color: #cccccc;
}

table tr.panel_color td {
    font-weight: bold;
}

.text_color_red {
    color: Red;
}

table tr.xslgridrow {
    background-color: #F8F8F8;
}

.button-area
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*notice-container*/
#notice-container ul li
{
    list-style: none;
}
/*end */
.page-title {
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    color: #C60101;
    padding: 10px 0px 10px 0px;
}
#solid-button
{
    text-align: right;
}
/*reset falgun*/
select, textarea, 
input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input
{
    padding: 0px 0px 0px 4px;
}
.widget-container
{
    padding: 10px 10px 5px 10px;
}
select, input[type="file"] {
height: 24px;
line-height: 24px;
}
.widget-head h3
{
    color: #eee;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    margin: 0;
}
.widget-head h3 a
{
    color: #eee;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    margin: 0;
}
.left-secondary-nav
{
    width: 220px;
}
.leftbar
{
    width: 220px;
}
.main-wrapper
{
    margin-left: 220px;
}

.navbar-inverse .navbar-inner 
{
    background-color: #3498DB;
}
.navbar-inverse .nav > li > a {
    color: white;
}
.home-link a
{
    color: white;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: #3498DB;
    background-color: #ffffff;
}
.accordion-nav>li.active a
{
    font-weight: bold;
}

.switch-board
{
    padding: 20px 10px 5px 10px;
}
.switch-item li
{
    width: 80px;
    height: 96px;
    margin: 0 10px 20px 0px;
    float:left;
}
.switch-item li a
{
    width: 80px;
    height: 96px;
}
.switch-item li a i
{
    padding: 15px 0px 10px 0px !important;
}
.switch-item li a span 
{
    display: block;
    text-align: center;
    font-size: 10px !important;
    color: #eee !important;
    padding: 0 5px !important;
}

.active-menu
{
    position: relative;
    bottom: -3px;
    height: 5px;
    background-color: red;
}
.layout
{
    background-color: #E1E1E1;
}

.table-bordered tr th
{
    vertical-align: middle;
    text-align: center;
}
/*end*/

/*context menu*/
.quick_action a
{
    margin-right: 5px;
}
/*end*/


/* info row*/
.required {
    color: Red;
}
.Row {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.Row .title-row {
    font-weight: bold;
}

.Row .left-Col {
    display: table;
    float: left;
    width: 20%;
    font-family: Arial;
    font-weight: bold;
}
.Row .left-Col label
{
    font-weight: bold;
}

.Row .right-Col {
    display: inline-table;
    float: left;
    font-family: Arial;
    width: 80%;
}

.Row .left-Col2 {
    display: table;
    font-family: Arial;
    float: left;
    width: 49%;
}

.Row .left-Col2 .left-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 30%;
    font-weight: bold;
}

.Row .left-Col2 .right-item-col {
    display: table;
    float: left;
    font-family: Arial;
    width: 68%;
    font-weight: bold;
}

.Row .right-Col2 {
    display: table;
    font-family: Arial;
    float: left;
    width: 49%;
    font-weight: bold;
}

.Row .right-Col2 .left-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 30%;
}

.Row .right-Col2 .right-item-col {
    display: table;
    font-family: Arial;
    float: left;
    width: 68%;
}
/*end*/
#frmMain
{
    background-color: white;
}


/*live board*/
#liveboard
{
    background-color: #FCFCFC;
    color: #000;
}

#liveboard #unit_full_name
{
    color: #000;
}
table.liveboard
{
    width:100%;
    border-collapse:collapse;
    background-color:#FCFCFC;
    empty-cells:show;
    color:#000;
    font-weight:bold;
    font-size: 175%;
    font-weight: bold;
}
table.liveboard TH
{
    background: #FCFCFC;
    color: #000;
    font-size: 14px;

}
table.liveboard TD
{
    text-align: center;
    padding-right: 4px;
    font-weight: bold;
}
table.liveboard TD.code
{
    text-align: left;
    font-family: "Courier new", Arial, Helvetica, sans-serif;
}
table.liveboard td.od {
    color: #FF0000;
}
table.liveboard td.e {
    /*color: #FFFF00;*/
}
table.liveboard td.is {
    /*color: #00CC00;*/
}
table.liveboard td.r {
    /*color: #FF00FF;*/
    text-align: center;
}
div.detail_table {
    top: 80px;
    bottom: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 250px;
    height: 600px;
}
table.liveboard TR:hover{
    background-color:#DDD;
}

#quoc-huy
{
    float:left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#quoc-huy img
{
    width: 58px;
    height: 60px;
}

#unit_full_name
{
    font-family: Times;
    font-size: 20px;
    font-weight: 600;
    color: #880015;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #F8F8F8;
}
/*end*/
.magenta,.orange
{
    color:white;
}
#div_filter
{
	text-align: left;
	padding: 6px 0px 5px 0px;
}
#div_filter input[type="text"],#div_filter select
{
    font-size: 12px;
    line-height: 20px;
    height: 32px;
}
#tbl_user_in_group td,#tbl_user_in_group th
{
    border:1px solid #dddddd
}


