 .Row .right-Col {
        padding-left: 5px;
        float:left;
        display: inline-table;
        width: 79%;
    }
    #div_search {
        height: 33px;
    }
    
    .widget-drag h4 {
        width: 85%;
    }