@media all
{
    .word-wrap 
    {
        word-wrap: break-word;
    }
    .print-button
    {
        float: left;
        position:fixed;
        top: 0px;
        display: block;
    }

    .dots{
        background: url('../images/dot.png') repeat-x bottom; 
    }
    
    .dots label{
        background-color: white;
    }

    .print-button .print
    {
        background-position: left;
        background-repeat: no-repeat;
    }

    body
    {
        font-family: Times New Roman;
        font-size: 12pt;
        padding-left: 15px;
        background-color:#FFF;
        color:#000;
    }

    h1, h2, h3 {
        margin: 4px 0 8px 0;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 16pt;
    }

    h3 {
        font-size: 14pt;
    }

    a {
        color: #8b8b8b;
    }

    /* Following ':after' sudo selector is used to select element right after the 'a' */
    a:after {
        /* content is used to display (url) after every a tag */
        content: " (" attr(href) ") ";
    }
    .clear {
        clear: both;
    }
    .page-break
    {
        page-break-before: always;
        height: 0;
        line-height: 0
    }

    .sign_place
    {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
        font-style: italic;
    }

    table.header
    {
        border: 0px;
    }
    table.header td
    {
        text-align: center;
    }

    table.header td.unit_full_name
    {
        text-transform: uppercase;
        font-size: 13px;
    }
    table.header td.report-title
    {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    table.header td.report-title .title-1
    {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
    }
    table.header td.report-title .title-2
    {
        font-style: italic;
    }

    /* Danh sach HS ban giao */
    table.list,
    table.adminlist
    {
        border-collapse: collapse;
        border: 1px solid;
    }
    table.list TH,
    table.adminlist th
    {
        text-align: center;
        font-weight: bold;
        border: 1px solid;
    }
    table.list TD,
    table.adminlist TD
    {
        border: 1px solid;
        padding-left: 4px;
    }

    table.tbl-signer,
    table.tbl-signer td
    {
        border: 0px;
        text-align: center;
    }

    table.guide-table
    {
        border-collapse: collapse;
        border:1px;
    }
    table.guide-table TH
    {
        font-weight: 700;
        text-align: center;
        border: 1px solid;
    }
    table.guide-table TD
    {
        border: 1px solid;
        padding: 4px;
        vertical-align: top;
    }
    .note-writer
    {
        background: url(../images/note-writer-bg.png) repeat-y;
        width: 100%;
        height: auto;
        font: italic 13px verdana;
        line-height: 20px;
        padding:0px;
        /*max-height: 80px;*/
        overflow: hidden;
        border: none;
    }
}

@media print
{
    .print-button
    {
        float: left;
        position:fixed;
        top: 0px;
        display: none;
    }
    .note-writer
    {
        background: none;
        border: none;
    }
    
    .dots{
        background: url('../images/dot.png') repeat-x bottom !important; 
    }
    .dots label{
        background-color: white;
    }
}
