.main-wrapper
{
    margin-left: 220px;
}
.switch-board {
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
}
.gray {
    background: #e8e8e8;
}

.container-fluid
{
    min-height: 600px;
}

.navbar-inverse .navbar-inner {
    background-color: #3498DB;
}
.top-nav .navbar-inner {
    min-height: 50px !important;
}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
}
.footer
{
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.board-widgets-content .n-sources {
    min-height: 55px !important;
}