.chatbox{
    width: 200px;;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    font-size: 12px;
    font-family: arial;  
    background: white;
    z-index:1000;
}
.chat_body hr, .chat_msg hr{margin: 0;}
.chat_body{
    min-height: 50px;
    padding: 3px;
    max-height: 400px;
}
.chat_box a{
    color: #333;
    text-decoration: underline;
}
.chat_box .chat_row:hover{background-color: #f0f0f0;}
.chat_box .chat_row:hover .chat_msg_time{display: block;}
.chat_box .chat_row{position: relative;padding: 3px;}
.chat_box .chat_row .chat_msg_time{
    display: none;
    position: absolute;
    right:3px; 
    top:0;
    font-size: 10px;
    color: #aaa;
    background-color: inherit;
    padding: 0px 3px;
}
h4.chat_header{
    background: #6D84B4;
    height: 30px;
    line-height: 30px;
    margin: 0;
    color: white;
    padding:0px 3px;
    font-size: 12px;
}
h4.chat_header.blue{
    background: #6D84B4;
}
h4.chat_header.orange{
    background: orange;
}

.chat_ou{
    font-weight: bold;
    color: royalblue;
}
.single_user{
    padding-left: 20px;
}
.chat_box{
    position: fixed;
    width: 250px;;
    bottom: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    font-size: 12px;
    font-family: arial;  
    background: white;
    overflow-wrap: break-word;
    z-index:1000;
}
.chat_msg{
    height: 250px;
    padding: 3px 0;
    overflow-y:auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    word-wrap:break-word;
}

.chat_more_msg{
    cursor: pointer;
    background-color: #f0f0f0;
    color:royalblue;
}

.chat_msg > p{
    margin: 0 3px;
    overflow-wrap: break-word;
}
.chat_input{
    padding:3px;
}

.chat_tools{background-color: whitesmoke;margin: -3px;margin-bottom: 0;padding: 3px;}
.chat_sender{color:royalblue;font-weight: bold;}
.chat_sender.is_me{color: cadetblue;font-weight: bold;}

.online_status{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: grey;
    display: inline-block;
}

.online_status.available{
    background-color: green;
}

.online_status.offline{
    background-color: grey;
}
online_status.busy{
    background-color: yellow;
}
